/* FORM */

.form {
    width: 100vw;
}

form {
    border: 1px solid black;
    border-radius: 10px;
    display: table;
    padding: 5vh;
    margin: auto;
    margin-top: 5vh;
} 

.form-control {
    width: 75%;
}

.btn {
    margin-top: 10%;
    margin-left: 30%;
}

