/* Général */ 

body { 
    margin: 0; 
    padding: 0; 
    font-family: Garamond;
    overflow-x: hidden;
}

/* Pour l'image en arrière plan */
header {
    display: flex;
    align-items: flex-end;
    height: 60vh;
    background-image: url(./ressources/cover_dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform-origin: center;
}

/* Responsive de l'image en arrière plan */
@media only screen and (max-width: 900px) {
    header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 30vh;
        background-image: url(./ressources/cover_dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transform-origin: left;
    }
  }

/* NAV */

nav#nav-bg{
    background-color:#fff0!important;

}

/* Responsive de la liste dans la navbar */
@media only screen and (max-width: 900px) {
    ul{
        background-color:#252525!important;
    }
}

.banner{
    position: sticky;
    top: 0%;
    z-index: 1000;
    background-color: rgba(42,42,42,0.7);
}

.container-nav{
    background-color: #2A2A2A;
    justify-content: center;
    display: flex;
    width: 100vw;
    transition: .3s ease-in-out;
    z-index: 10;
    height: 6vh;
    -webkit-box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.14); 
    box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.14);
}

.container-nav:hover {
    background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
    transition: .5s ease-in-out;
    width: 8vw;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .navbar-brand{
        width: 25vw;
    }
}


.nav-link{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s ease-in-out;
}

.nav-link:hover{
    transform: scale(1.1);
    color: white;
}


/* MENU */

.title-menu {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Paramètres de la section carte */
#card {
    padding-top: 50px;
    background-color:#2A2A2A;
    text-align: center; 
}

#card h2 {
    padding-top: 50px;
    text-transform: uppercase;
    color: white;
    text-align: center;   
}

#card h3 { 
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Garamond; 
    color: red;     
}

#descript_food{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
}

/* Initialisation des bordures des plats */

#food_3{
    display: inline-block;
}

#food_4{
    display: inline-block;  
}

/* Modification des #part */
#part1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;                   
    flex-wrap: wrap;
}

#part2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Modification des hr */
#line hr{
    width: 50vw;
    height: 2px;
    background-color: white;
    border:  0px solid white;     
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

/* Modification signature */
#sign{
    padding: 10vh;  
 }


/* Gallerie photo */
.goat{
box-sizing: border-box; 
background-color:  white;
text-align: center; 
color: white;
}

img{
max-width:100%
}


.slideshow{
border: 5px solid black;
box-shadow: 0 0 5px hsla(0,0%,0%,.5);
overflow: hidden;
max-width: 600px;
margin: 2rem auto;
position: relative
}
    
.slideshow ul{
padding-bottom: 66.67%;/* ratio pour le responsive */
margin: 0;
list-style-type: none;
position: relative
}
    
    
.slideshow li{
top: 0;
left: 0;
animation: slideshow 35s ease infinite;
position: absolute;
opacity: 0;
}

.slideshow li:nth-child(){
    animation-delay: 0s;
}
 

.slideshow li:nth-child(2){
animation-delay: 5s
}

.slideshow li:nth-child(3){
animation-delay: 10s
}

.slideshow li:nth-child(4){
animation-delay: 15s
}

.slideshow li:nth-child(5){
animation-delay: 20s
}

.slideshow li:nth-child(6){
animation-delay: 25s
}
    
.slideshow li:nth-child(7){
animation-delay: 30s
}

    
@keyframes slideshow{
0%{opacity: 0}
10%{opacity: 1}
20%{opacity: 1}
25%{opacity: 0}
100%{opacity: 0}
} 

    
.slideshow span{
background: rgba(0,0,0,0.7);
height: 40px;
align-items: center;
justify-content: center;
display: flex;
color: white;
position: absolute;
bottom: 0;
right: 0;
left: 0
}
    
/* Barre progression */
.barre_progression{ 
    
position: absolute;
left: 0;
bottom: 40px;
height: 5px;
background: white;
animation: barre_progression 25s ease-out infinite;
    
}
    
/* Animation barre progression */    
@keyframes barre_progression{
0%,20%,40%,60%,80%,100%{width: 0%;opacity: 0}
4%,24%,44%,64%,84%{width: 0%;opacity: .3}
16%,36%,56%,76%,96%{width: 100%;opacity: .7}
17%,37%,57%,77%,97%{width: 100%;opacity: .3}
18%,38%,58%,78%,98%{width: 100%;opacity: 0}
}

/* FORM */

/* Ajout de la police font Garamond sur le titre du formulaire */
.title-form {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: Garamond;       
}

/* FORM */ 
.form {
    width: 100vw;
    display: flex;
}

form {
    display: table;
    padding: 5vh;
    margin: auto;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;        /*ajout de font arial */
} 

/* Responsive form */ 
@media screen and (min-width: 1200px) {
    form {
        display: block;
    }

    .one {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .two {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #lastname, #firstname {
        text-align: left;
    }

    #email {
        width: 100%;
        justify-content: center;
        text-align: left;
    }

    .testt {
        margin-left: 22px;
    }
}

.form-control {
    width: 80%;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    margin-left: 40%;
    justify-content: center;
    background-color: #2A2A2A;
    color: white;
    margin-bottom: 50px;
    border-radius: 0px;   
}

.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 0px;
}

@media only screen and (max-width: 900px){
    .btn {
        margin-left: 30%;
    }
}

/* AVIS */

#notice {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;       
 }
 
 .title-notice{
     display: flex;
     justify-content: center;
     font-weight: bold;
     font-family: Garamond;  
 }
 
 .row{
     display: flex;
     justify-content: space-evenly;
 }
 
 .card { transition: 1s ease-in-out;}
 
 .card:hover{
     transform: scale(1.1);
 }
 
 .card-body{
     background-color: #2A2A2A;
     color: white;
 }
 
 .card-date {color: grey;}
 
 .stars{
     display: flex;
     justify-content: center;
     padding: 10px;
 }
 
 .stars img{
     width: 25px;
 }
 
 /* Responsive iPhone et iPad */
 @media only screen and (max-width: 600px){
     .card{
         margin-bottom: 70px;
     }
 }
 
 @media only screen and (min-width: 700px){
     .card{
         margin-bottom: 70px;
     }
 }

 /* Footer */
 footer{
    background-color: #2A2A2A;
    font-family: Arial, Helvetica, sans-serif;
 }

 /* Réseaux sociaux */ 

.social {
    display: flex;
}

/* Responsive réseaux sociaux */ 
@media only screen and (max-width: 600px){
    .social{
        margin-right: 15%;
    }
}

.media {
    width: 50px;
    margin-left: 30px;
 }
