#avis {
   overflow-x: hidden;
}

.title-avis{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.card { transition: 1s ease-in-out;}

.card:hover{
    transform: scale(1.1);
}

.card-body{
    background-color: #2A2A2A;
    color: white;
}

.card-date {color: grey;}

.stars{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.stars img{
    width: 25px;
}

/* responsive iphone et ipad */
@media only screen and (max-width: 600px){
    .card{
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 700px){
    .card{
        margin-bottom: 70px;
    }
}