/* FORM */

.title-form {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.form {
    width: 100vw;
    display: flex;
}

form {
    display: table;
    padding: 5vh;
    margin: auto;
    margin-top: 5vh;
} 

@media screen and (min-width: 1200px) {
    form {
        display: block;
    }

    .one {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .two {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #lastname, #firstname {
        text-align: left;
    }

    #email {
        width: 100%;
        justify-content: center;
        text-align: left;
    }

    .testt {
        margin-left: 22px;
    }
}

.form-control {
    width: 80%;
}

.btn {
    margin-top: 10%;
    margin-left: 40%;
    justify-content: center;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 0;
}